@require '../css/box'

.animate
  transition all 0.5s

.autobb-toggle
  vertical-align middle
  cursor pointer
  &:hover
    color #08c

.autobb-wrap
  width 400px
  position fixed
  left 0
  top 100px
  bottom 100px
  z-index 10000
  background #fff
  box-shadow 0px 0px 5px 1px rgba(0, 0, 0, 0.18)
  .autobb-hide
    display inline-block
  .autobb-show
    display none
.autobb-hide-to-side
  width 60px
  height 36px
  .autobb-frame-box
    display none
  .autobb-show
    display inline-block
  .autobb-hide
    display none

.autobb-frame
  width 393px
  position absolute
  top 30px
  left 0
  bottom 0
  height calc(100% - 30px)
.autobb-control
  text-align right
  padding-right 10px


