doctype html
html(lang='en')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset='UTF-8')
    title Redirect
  body
    #main.rc-pd3
      | loading...
    #app
    script(src='//unpkg.com/react@16.5.2/umd/react.production.min.js', crossorigin)
    script(src='//unpkg.com/react-dom@16.5.2/umd/react-dom.production.min.js', crossorigin)
    script.
      window.et = {}
      window.et.onload = function() {
        document.body.removeChild(document.getElementById('main'));
      };
    script(src='./app.bundle.js', onload="window.et.onload()")
